:root {
    /* Primary Colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral Colors */
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black-lightbox: rgba(0, 0, 0, 0.75); /* 75% opacity for lightbox background */
}

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.generalContainer {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    display: flex;
    align-items: center;
    padding: 1.1875rem 1.5rem 1.5rem 1.5rem;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10.5938rem;
    height: 1.25rem;
    gap: 1rem;
    margin-right: 6rem;
}

.mainMenuButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.menuIcon img {
    width: 0.9375rem;
    height: 0.9375rem;
    cursor: pointer;
}

.avatarContainer img:hover {
    outline: 0.125rem solid var(--orange);
    border-radius: 50%;
}

.avatarContainer img {
    width: 1.5rem;
    cursor: pointer;
}

.mainCartButton {
    position: relative;
    background: none;
    border: none;
    width: 1.3638rem;
    height: 1.25rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.cartFill {
    display: none;
}

.cartFill.active {
    position: absolute;
    top: -18%;
    right: -24%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.1875rem;
    height: 0.8125rem;
    background-color: var(--orange);
    border-radius: 0.4063rem;
    font-size: 0.625rem;
    font-weight: 700;
    color: white;
}

.productMainImagesContainer {
    position: relative;
    width: 100%;
    max-width: 23.4375rem;
    position: relative;
}

.sliderContainer  {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 18.75rem;
}

.sliderPicture {
    display: none;
}

.sliderPicture.active {
    display: block;
}

.sliderContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.nextButton {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.prevButton {
    position: absolute;
    top: 50%;
    right: 85%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.prevButton img, 
.nextButton img {
    width: 0.625rem;
    height: 0.9375rem;
}

.productContentContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 1.5rem 4.375rem 1.5rem;
}

.mainTextContainer {
    display: flex;
    flex-direction: column;
    width: 20.4375rem;
    gap: 1rem;
}

.midText {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.1156rem;
    color: #69707D;
}

.lgText, 
.currentPrice {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
}

.smText {
    font-size: 0.9375rem;
    line-height: 1.625rem;
    color: #69707D;
}

.priceContainerMain {
    display: flex;
    align-items: center;
}

.currentPrice {
    margin-right: 1rem;
}

.discount {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.1875rem;
    height: 1.6875rem;
    background-color: black;
    color: white;
    border-radius: 0.375rem;
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 700;
    margin-right: 6.5625rem;
}

.originalPrice {
    font-weight: 700;
    color: #69707D;
}

.addTocartContainer {
    display: flex;
    flex-direction: column;
    height: 8rem;
    gap: 1rem;
}

.quantityContainer {
    display: flex;
    padding: 0.9375rem 1.1563rem;
}

.quantityContainer span {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.minusButton, 
.plusButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    width: 0.8594rem;
    height: 0.8594rem;
    cursor: pointer;
}

.quantity {
    font-weight: 700;
    line-height: 1.625rem;
}

.mainButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.4375rem;
    height: 3.5rem;
    background-color: var(--orange);
    border-radius: 0.625rem;
    border: var(--orange);
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    gap: 1rem;
}

.mainButton:hover {
    background-color: #FFAB6A;
}

/*----------------------------------------------------------------CART MENU-------------------------------------------------*/

.cartMenu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 22.5rem;
    height: auto;
    border-radius: 0.625rem;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    padding: 1.5rem;
    background-color: white;
}

.cartHeader {
    display: flex;
    font-weight: 700;
    line-height: 1.625rem;
    padding: 0rem 0 1.5rem 0;
}

.cartContentContainer { /*Text, image and button inside Cart*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cartProductsContainer { /*Every product added to Car by the user*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.cartProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.25rem;
    gap: 1rem;
    outline: 0.125rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
}

.cartProductImageContainer  {
    width: 3.125rem;
    height: 3.125rem;
}

.cartProduct img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.cartProductTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 13.3125rem;
    height: 3.25rem;
}

.topContainer, 
.bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13.3125rem;
    height: 1.625rem;
}

.cartProductTitle {
    width: 100%;
    line-height: 1.625rem;
    color: #69707D;
}

.priceContainer  {
    display: flex;
    width: 5rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: black;
}

.priceText {
    margin-right: 0.1875rem;
}

.cartQuantityContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3.4375rem;
    margin-right: 0.1875rem;
}

.cartQuantityContainer input[type='number'] {
    display: flex;
    text-align: center;
    width: 1.25rem;
    height: 1.25rem;
}

.cartQuantityContainer img  {
    width: 0.625rem;
    height: auto;
}

.cartRemoveButtonContainer img {
    width: 0.875rem;
    height: 1rem;
}

.totalContainer {
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.cartMenuProductRemove, 
#cartPlusButton, 
#cartMinusButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}
/*----------------------------------------------------------------MAIN MENU-------------------------------------------------*/

.mainMenuContainer {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 3;
    display: none;
    flex-direction: column;
    width: 15.625rem;
    height: 100%;
    padding: 1.5rem 8.25rem 36.25rem 1.5rem;
    background-color: white;
}

.layout {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
}

li {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.625rem;
    cursor: pointer;
}

.innerMainMenuContainer .closeButton {
    background: none;
    border: none;
    font-weight: 700;
    margin-bottom: 3.5rem;
    cursor: pointer;
}


/*----------------------------------------------------------------LIGHTBOX-------------------------------------------------*/

.lightboxContainer {
    position: absolute;
    z-index: 3;
    top: 0%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border: none;
    background: none;
}

.lightboxCurrentImage {
    width: 100%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.lightboxMosaicContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.lightboxMosaicContainer img {
    width: 3.125rem;
    cursor: pointer;
}

.lightboxContainer.active {
    display: flex;
}

.closeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3125rem;
    background: white;
    border: none;
    cursor: pointer;
}